# Supabase configuration
VITE_SUPABASE_URL=https://knhawcenqscjmezortpr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtuaGF3Y2VucXNjam1lem9ydHByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM2NDAwNzYsImV4cCI6MjA3OTIxNjA3Nn0.Gpyvl_OjloN5MIQ8FdCSOjeF9edYBcXulaZ7QLhMsxk

VITE_YOUTUBE_API_KEY=AIzaSyC2NHtsS3LD1WIWiLImfHB7ZLXHH0aYVVg
VITE_YOUTUBE_CHANNEL_ID=UC8Us-h5UhZzJNlCpLSfcgIg
